pkgbase = wrye-bash
	pkgdesc = A swiss army knife for modding Bethesda games
	pkgver = 313
	pkgrel = 1
	url = https://github.com/wrye-bash/wrye-bash
	arch = any
	license = GPL3
	makedepends = python-pygit2
	depends = binutils
	depends = hicolor-icon-theme
	depends = p7zip
	depends = python
	depends = python-chardet
	depends = python-lz4
	depends = python-reflink
	depends = python-vdf
	depends = python-wxpython
	depends = python-yaml
	depends = xdg-utils
	optdepends = python-lxml: FOMOD schema validation
	optdepends = python-pymupdf: PDF support in the doc browser
	optdepends = python-requests: Various Internet-based functionality
	optdepends = python-send2trash: Recycle instead of delete files
	optdepends = python-websocket-client: NexusMods integration (currently unused)
	backup = opt/wrye-bash/bash.ini
	source = wrye-bash_313.tar.gz::https://github.com/wrye-bash/wrye-bash/archive/v313.tar.gz
	source = wrye-bash
	source = wrye-bash.desktop
	source = 0001-Make-BashBugDump-work-globally.patch
	source = 0002-Add-support-for-global-docs-to-readme_url.patch
	sha256sums = b340a572bd843d3333dc0d96893835fcc0299fb5beb8202b863dc8f334463b90
	sha256sums = ae3dedbd0dfba70bf159e7420e98e9ccd906b9e7c5a602588869d39849302a93
	sha256sums = dd2c34488c4d8f3f43311bdcf9c32d6e7645933eb32eb03f0456adfbed35594f
	sha256sums = ef437d64df5d39587280f6c1706cadc9fc20546ff2cc31ddb8424f906bb8fc3c
	sha256sums = c91e4fc3f0c3ba5a1e0f6e6bc061d9cc5220372af9fad9e5c4a14f87333ea3f2

pkgname = wrye-bash
