pkgbase = wrye-bash
	pkgdesc = A swiss army knife for modding Bethesda games
	pkgver = 314
	pkgrel = 1
	url = https://github.com/wrye-bash/wrye-bash
	arch = any
	license = GPL-3.0-or-later
	makedepends = python-pygit2
	depends = 7zip
	depends = binutils
	depends = hicolor-icon-theme
	depends = python
	depends = python-chardet
	depends = python-lz4
	depends = python-reflink
	depends = python-vdf
	depends = python-wxpython
	depends = python-yaml
	depends = xdg-utils
	optdepends = python-lxml: FOMOD schema validation
	optdepends = python-pymupdf: PDF support in the doc browser
	optdepends = python-requests: Various Internet-based functionality
	optdepends = python-send2trash: Recycle instead of delete files
	optdepends = python-websocket-client: NexusMods integration (currently unused)
	backup = opt/wrye-bash/bash.ini
	source = wrye-bash_314.tar.gz::https://github.com/wrye-bash/wrye-bash/archive/v314.tar.gz
	source = wrye-bash
	source = wrye-bash.desktop
	source = 0001-Make-BashBugDump-work-globally.patch
	sha256sums = 663c1d1043483bcfbc0ccfb60b571be7b8bbc6670e93821035ad846cca106f8c
	sha256sums = ae3dedbd0dfba70bf159e7420e98e9ccd906b9e7c5a602588869d39849302a93
	sha256sums = dd2c34488c4d8f3f43311bdcf9c32d6e7645933eb32eb03f0456adfbed35594f
	sha256sums = ef437d64df5d39587280f6c1706cadc9fc20546ff2cc31ddb8424f906bb8fc3c

pkgname = wrye-bash
